<!-- project_index.html  -->
{% extends 'base.html' %}
{% block content %}
<h1>Blogs</h1>
{% for blog in blogs %}
	<div><h3>{{blog.title}}</h3></div>
	<div>{{blog.body}}</div>
	<div>{{blog.created_on}}</div>
	<div>{{blog.last_modified}}</div>
	<div>{% for category in blog.categories.all %}

        <a href="{% url 'blog_category' category.name %}">

            {{ category.name }}

        </a>&nbsp;

        {% endfor %}
    </div>
	<a href="{% url 'blog_detail' blog.id %}">ReadMore</a>
	<br>
{% endfor %}
{% endblock %}
